html,body,h1 {
  margin: 0;
  padding: 0;
}

#top_banner {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

#top_banner h1 {
  width: 300px;
  height: 100%;
  text-align: center;
  float: left;
}

#top_banner p {
  float: right;
  padding-right: 10px;
}

#sidebar {
  width: 250px;
  height: 100%;
  float: left;
  min-height: 1000px;
  border-right: 1px solid black;
}

#main_body {
  width: 80%;
  height: 100%;
  min-width: 300px;
  min-height: 1000px;
  float: left;
}

#admin_side_menu {
  margin: 0;
  padding: 0;
  margin: auto auto;
  width: 175px;
  margin-top: 10px;
}

#admin_side_menu li {
  list-style: none;
}

#admin_side_menu li#btn_logout {
  margin-top: 30px;
}

#admin_side_menu a:link, #admin_side_menu a:hover, #admin_side_menu a:visited, #admin_side_menu a:active {
  display: block;
  width: 175px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  border: 1px solid black;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
  color: black;
}

#admin_side_menu a:hover, #admin_side_menu a:active, #admin_side_menu a:visited {
  background-color: cyan;
  text-decoration: none;
}

.list_table {
  margin: 20px 0px 0px 20px;
}

.list_table th, .list_table td {
  padding: 5px 40px;
  border: 1px solid black;
}

.responseMessage {
  width: 230px;
  height: 20px;
  color: #fff;
  padding: 10px;
  margin-left: 20px;
  background-color: green;
  text-align: center;
}
